:root {
  --loader-size: 20vh;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #f3bad7;
}

.loader {
  width: var(--loader-size);
  position: absolute;
  top: calc(50% - (var(--loader-size) / 2));
  left: calc(50% - (var(--loader-size) / 2));
  pointer-events: none;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}
@media only screen and (max-width: 600px) {
  .dg.main {
    margin-right: 0px !important;
    width: 100% !important;
  }

  .dg.main .close-button.close-bottom {
    width: 100% !important;
  }
}
